n8n/workflows/submit-and-notify.json
{
  "name": "Clip Farm — Submit & Notify",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "clip-farm/submit",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook",
      "name": "Webhook (YouTube URL in)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.CLIPFARM_API }}/api/videos",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"source_type\": \"youtube\",\n  \"source_ref\": \"{{ $json.body.url }}\",\n  \"title\": \"{{ $json.body.title || '' }}\"\n}",
        "options": {}
      },
      "id": "create",
      "name": "Create Video Job",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300]
    },
    {
      "parameters": { "amount": 30, "unit": "seconds" },
      "id": "wait",
      "name": "Wait 30s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [680, 300],
      "webhookId": "clipfarm-wait"
    },
    {
      "parameters": {
        "url": "={{ $env.CLIPFARM_API }}/api/videos/{{ $('Create Video Job').item.json.id }}",
        "options": {}
      },
      "id": "poll",
      "name": "Poll Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "typeValidation": "strict" },
          "conditions": [
            {
              "leftValue": "={{ $json.status }}",
              "rightValue": "completed",
              "operator": { "type": "string", "operation": "equals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "isdone",
      "name": "Completed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ video_id: $json.id, clips: $json.clips.length, clips_detail: $json.clips }) }}",
        "options": {}
      },
      "id": "respond",
      "name": "Respond With Clips",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1360, 200]
    }
  ],
  "connections": {
    "Webhook (YouTube URL in)": { "main": [[{ "node": "Create Video Job", "type": "main", "index": 0 }]] },
    "Create Video Job": { "main": [[{ "node": "Wait 30s", "type": "main", "index": 0 }]] },
    "Wait 30s": { "main": [[{ "node": "Poll Status", "type": "main", "index": 0 }]] },
    "Poll Status": { "main": [[{ "node": "Completed?", "type": "main", "index": 0 }]] },
    "Completed?": {
      "main": [
        [{ "node": "Respond With Clips", "type": "main", "index": 0 }],
        [{ "node": "Wait 30s", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": { "executionOrder": "v1" },
  "active": false,
  "tags": ["clip-farm"]
}
